/* Header and Nav */

body {
    margin: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: linear-gradient(90deg, #f5f5f5 0%, #f8f8f8 100%);
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #2980b9;
    padding: 10px 0;
    text-align: center;
    box-shadow: 10px 8px 0px rgb(191 219 254);
}

header nav {
    display: inline-block;
}

header nav a {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background: #bfdbfe;
    color: #000;
    border-radius: 8px;
    padding: 14px 34px;
    font-size: 20px;
    font-weight: 700;
    margin: 15px 10px;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

header nav a:hover {
    transform: scale(1.1);
}

header nav a.active {
    background-color: #143d55;
    transform: scale(1.1);
    color: #fff;
}

/* General Styles for Projects */

.container {
    width: 90%;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 10px 8px 0px rgb(191 219 254);
    border-radius: 8px;
}

section#projects {
    margin-top: 20px;
}

section#projects .title {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 40px;
}

section#projects .description {
    margin-top: 20px;
}

section#projects .project {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

section#projects .project img {
    width: auto;
    height: 200px;
    margin-right: 20px;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section#projects .project .project-details {
    flex: 1;
}

section#projects .project .title {
    margin: 0;
    font-size: 1.4em;
    color: #333;
}

section#projects .project .meta {
    font-style: italic;
    color: #777;
    margin-bottom: 10px;
}

section#projects .project .description {
    font-size: 1em;
    color: #555;
    line-height: 1.6;
}
